@font-face{ 
	font-family: 'eurocine-regular';
	src: url('eurocine-regular-webfont.woff2') format('woff2'),
         url('eurocine-regular-webfont.woff') format('woff');
}
body{margin: 0; 
    padding: 0;
    font-family: 'eurocine-regular', Arial, sans-serif; 
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}
.mailto{
    display: inline-block;
    text-decoration: none;
}
.main{
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
}
.buttontext{
    font-size: 1.25rem;
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
}
.spinbutton {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0rem 2rem;
    border: 2px;
    background-color: white;
    display: inline-block;
    margin: 0 0px 0px 0;
    text-decoration: none;
}
.spinbutton:after {
    content: '';
    background: #FDCB0B;
    position: absolute;
    width:0%;
    top:0;
    left:0;
    height:100%;
    transition: 0.3s linear;
}
.spinbutton:hover:after {
    width:100%;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .spinbutton {
        top : 8px;
        right: 8px;
        padding: 0.1rem 1rem;
        border: 1px solid black;
        }
    .buttontext{
        font-size: 0.5rem;
    }
}